@import "tailwindcss";

@theme {
  --font-sans: var(--font-noto-sans-jp), var(--font-geist-sans), system-ui, sans-serif;
  
  --color-primary: #2563eb;
  --color-background-light: #f9fafb;
  --color-background-dark: #111827;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1f2937;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-jp), var(--font-geist-sans), Arial, sans-serif;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
